.article-list {
    color:#313437;
    background-color:rgb(235, 229, 229);
  }
  
  .article-list p {
    color:#7d8285;
  }
  
  .article-list h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .article-list h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .article-list .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .article-list .intro p {
    margin-bottom:0;
  }
  
  .article-list .articles {
    padding-bottom:40px;
  }
  
  .article-list .item {
    padding-top:50px;
    min-height:425px;
    text-align:center;
  }
  
  .article-list .item .name {
    font-weight:bold;
    font-size:16px;
    margin-top:20px;
    color:inherit;
  }
  
  .article-list .item .description {
    font-size:14px;
    margin-top:15px;
    margin-bottom:0;
  }
  
  .article-list .item .action {
    font-size:24px;
    width:24px;
    margin:22px auto 0;
    line-height:1;
    display:block;
    color:#4f86c3;
    opacity:0.85;
    transition:opacity 0.2s;
    text-decoration:none;
  }
  
  .article-list .item .action:hover {
    opacity:1;
  }
  


  /* Review from partners */
.partner-title {
	background-image: url(../images/pattern.svg);
    background-color: #f1f5f7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 30px 0;
    overflow: hidden;
}


.owner-photo{
-webkit-shadow: 0px 4px 8px 0 #3DAEE3;
-moz-shadow: 0px 4px 8px 0 #3DAEE3;
box-shadow: 0px 4px 8px 0 #3DAEE3;
}

.list-group{
	width: 50px !important;

}

.list-group-item{
	border-radius: none; 
	background: #d5c8f0;
	transition: all 0.3s ease-in-out;
    padding: 20px;
  text-align:center;
}


.list-group-item:hover{
	transform: scaleX(1.1);
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
      opacity: 0;
  }
}





.check{
	opacity: 0;
	transition: all 0.6s ease-in-out;
}

.list-group-item:hover .check {
	opacity: 1;

}




.partner-heading {
  background-image: url(../images/pattern.svg);
  background-color: #45c4f3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 70px 0;
}
  


  